<!-- rooms.component.html -->
<header class="header-title">
  <h4>Room List</h4>
</header>
<div id="rooms-component">
  <div class="rooms-content">
    <a [routerLink]="['/booking/create']" >
      <mat-list-item class="add-rooms">
        <div>
          <mat-icon>add</mat-icon>
        </div>
        <div>
          <p>Book</p>
        </div>
      </mat-list-item>
    </a>
    <mat-card class="card" id="rooms-list"> 
        <table>
          <tr>
            <th>Room</th>
            <th>Employee</th>
            <th>Description</th>
          </tr>
          <tr *ngFor="let room of rooms">
            <td>
              <a [routerLink]="['/booking/detail/'+room.id]">
                {{ room.room }}
              </a>
            </td>
            <td>{{ room.employee }}</td>
            <td>{{ room.description }}</td>
          </tr>
        </table>
    </mat-card>
  </div>
</div>

<router-outlet></router-outlet>
