.header-title{
    color: #333;
    border-bottom: 1px solid #333;
}

mat-header-cell{
    padding: 0;
}

.add-rooms{

    background-color:#2c75b6;
    
    width: 7rem;
    height: 6rem;
    border-radius: 1rem;
    margin: 2rem;
    text-align: center;
    cursor: pointer !important;
    
    mat-icon{
        font-size: 2rem;
    }

    *{
        color: white !important;
    }

    *:hover{
        background-color: #435f9c !important;

    }
}

#rooms-list{
    width: 100%;
    margin: auto;
    padding: 2rem;
    margin: 1rem;
    border: 1px solid #333;
    color: #333;

    table{
        width: 100%;
        border-collapse: collapse;
        border: 1px solid #333;
        
        th{
            height: 10px;
            padding: 2px 4px;
            border: 1px solid #333;
        }
        td{
            padding: 2px 40px;
            border: 1px solid #333;
        }
    }
}