<!-- sidebar.component.html -->
<div class="layout-container">
  <div class="sidebar-container">
    <mat-nav-list>
      <p>OnDelivery</p>
      <div class="user-image">
        <img
          [src]="image"
          alt="OnDelivery"
        />
      </div>
      <p>{{ username }}</p>
    </mat-nav-list>
    <div class="sidebar-content">
      
        <a [routerLink]="[item.link]" routerLinkActive="active" *ngFor="let item of menuItems" >
          <div class="sidebar-item">

            <mat-icon>{{ item.icon }}</mat-icon>
            <span>{{ item.label }} </span>
          </div>
        </a>

    </div>
  </div>
  <div class="layout-component">
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
